{% extends "layout.html" %}

{% block content %}
<h1>
    
<p>Thanks for Reporting an Abduction, {{abduction.firstname}} {{abduction.lastname}} </p> 

Date occured:
<ul>{{abduction.month}} {{abduction.day}} {{abduction.year}} </ul>

City and State of incident:
<ul>{{abduction.city}} {{abduction.state}} </ul>

The level of scary was: 
<ul>{{ abduction.scary}}</ul>
    
It looked like this: 
<ul>{% for appearances in abduction.appearance %} {{appearances}} {% endfor %} </ul>

</h1>

{% endblock %}